{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<title>CV Face Recognition with Django</title>

	<!-- stylesheet css --> 
	<link rel="stylesheet" href="{% static 'CV/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'CV/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'CV/css/nivo-lightbox.css' %}">
	<link rel="stylesheet" href="{% static 'CV/css/nivo_themes/default/default.css' %}">
	<link rel="stylesheet" href="{% static 'CV/css/style.css' %}">
	<!-- google web font css -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>

</head>
<body data-spy="scroll" data-target=".navbar-collapse">
	
<!-- navigation -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#home" class="navbar-brand smoothScroll">Face Recognition</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/" class="smoothScroll">HOME</a></li>
				{% if name %}
				
				<li><a href="#contact" class="smoothScroll">{{name}}</a></li>
				{%endif%}
			</ul>
		</div>
	</div>
</div>		

<!-- home section -->
<div id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
				<h2>Welcome to</h2>
				<h1>Face Recognition <strong>Digital Site</strong></h1>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
				<a href="#service" class="btn btn-default smoothScroll">GET STARTED</a>
			</div>
		</div>
	</div>
</div>

<!-- service section -->
<div id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Our Workflow</h2>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-cubes"></i>
				<h3>Research</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-cogs"></i>
				<h3>Design</h3>
				<p>This website template is brought to you by Tooplate. You can modify and use it for any website. You can change icons by looking at <a rel="nofollow" href="http://fortawesome.github.io/Font-Awesome/examples/" target="_parent">examples</a>.</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa fa-group"></i>
				<h3>Computer Vision Algorithm</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
			</div>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>


<!-- about section -->
<div id="abouts" style="padding-top: 60px; padding-bottom: 80px;">
	<div class="container" >
		<div class="row" style="width:1000px; position:relative; left:380px;">
			<div class="col-md-7" >
				<h3 class="" style="position:relative; left:100px;">Face Recognition</h3>
				<div class="col-md-4">
				  <a href="/recog"><img src="{% static 'CV/images/webcam.png' %}"  style="width:140px; height:140px;"  class="img-responsive" /></a>
				  <h4  >Detect By Webcam</h4>
				</div>
				
				<div class="col-md-4">
				  <button type="button" style="background:transparent;border:none" data-toggle="modal" data-target="#myModal">
					<a href='/take'><img src="{% static 'CV/images/add.png' %}" style="width:128px; height:128px;" class="img-responsive" /></a>
				  </button>
				  <h4>Create Dataset</h4>
				</div>
		</div>
	</div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- team section -->
<div id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Our Team</h2>
			</div>
			<div class="col-md-3 col-sm-6">  
				<img src="{% static 'CV/images/fati.jpg' %}" class="img-responsive" alt="team img">
				<h3>Babakhan Fatima</h3>
				<h4>200103443</h4>
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="{% static 'CV/images/meru.jpg' %}" class="img-responsive" alt="team img">
				<h3>Yrsymbet Meruyert</h3>
				<h4>200103413</h4>
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="{% static 'CV/images/nurzhan.jpg' %}" class="img-responsive" alt="team img">
				<h3>Koshybayev Nurzhan</h3>
				<h4>200103482</h4>
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="{% static 'CV/images/kamshat.jpg' %}" class="img-responsive" alt="team img">
				<h3>Koszhanova Kamshat</h3>
				<h4>200103367</h4>
			</div>
			
		</div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>



<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>














<!-- scrolltop section -->
<a href="#top" class="go-top"><i class="fa fa-angle-up"></i></a>


<!-- javascript js -->	 
<script src="{% static 'CV/js/jquery.js' %}"></script>
<script src="{% static 'CV/js/bootstrap.min.js' %}"></script>	
<script src="{% static 'CV/js/nivo-lightbox.min.js' %}"></script>
<script src="{% static 'CV/js/smoothscroll.js' %}"></script>
<script src="{% static 'CV/js/jquery.nav.js' %}"></script>
<script src="{% static 'CV/js/isotope.js' %}"></script>
<script src="{% static 'CV/js/imagesloaded.min.js' %}"></script>
<script src="{% static 'CV/js/custom.js' %}"></script>

</body>
</html>